@*@model Voxed.WebApp.Models.Vox*@
@model Core.Entities.Vox

@{
    ViewData["Title"] = Model.Title;
}

@*<h1>Details</h1>

    <div>
        <h4>Vox</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CategoryID)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UserID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UserID)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Bump)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Bump)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@

<main>
    <div class="voxWraper">
        <section class="voxData">
            <div class="voxBar">
                <div class="voxCategoryBar">
                    <a href="/@Model.Category.ShortName">
                        <div class="voxCategory">
                            <div class="categoryAvatar">
                                <img class="lazyload" data-src="@Model.Category.Media.ThumbnailUrl"
                                     alt="">
                            </div>
                            <div class="categoryTitle">@Model.Category.Name</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="voxBar">
                <div class="actions">
                    <div class="voxOption" data-report="vox" data-contentid="389779" data-contenttype="1">
                        <i class="fas fa-flag" data-parent></i>
                        <span class="voxOptionText" data-parent>Denunciar</span>
                    </div>
                    <div class="voxOption " data-meta="favorite" data-contenttype="1" data-contentid="389779">
                        <i data-parent class="fas fa-star"></i>
                        <span data-parent class="voxOptionText">Favorito</span>
                    </div>
                    <div class="voxOption " data-meta="follow" data-contenttype="1" data-contentid="389779">
                        <i data-parent class="fas fa-thumbtack"></i>
                        <span data-parent class="voxOptionText">Seguir</span>
                    </div>
                    <div class="voxOption " data-meta="hide" data-contenttype="1" data-contentid="389779">
                        <i data-parent class="fas fa-lock"></i>
                        <span data-parent class="voxOptionText">Ocultar</span>
                    </div>
                </div>
                <div class="metadata">
                    <div class="authorVox">

                        @if (@Model.User.UserType == Core.Entities.UserType.Admin)
                        {
                            <span class="name adminTag ">@Model.User?.UserName</span>
                        }

                        @if (@Model.User.UserType == Core.Entities.UserType.Anon)
                        {
                            <span class="name ">@Model.User?.UserName</span>
                        }

                        @*<span class="name ">Anonimo</span>*@


                        <span class="commentTag ">@Model.User?.UserType.ToString().ToLower()</span>
                        @*<span class="commentTag ">anon</span>*@
                    </div>
                    <div class="voxCreatedAt">@Core.Shared.TimeAgo.ConvertToTimeAgo(Model.CreatedOn.DateTime)</div>
                </div>
            </div>

            @if (Model.Poll != null)
            {
                <div class="voxBar pollBar">
                <div class="pollOptions">
                    <div class="pollOption " data-poll="1">
                        <div class="pollOptionText">@Model.Poll.OptionADescription</div>
                        <div class="pollOptionPerent" id="pollOnePorcen">
                        </div>
                    </div>
                    <div class="pollOption " data-poll="2">
                        <div class="pollOptionText">@Model.Poll.OptionBDescription</div>
                        <div class="pollOptionPercent" id="pollTwoPorcen">
                        </div>
                    </div>
                </div>
            </div>
            }           

            <article class="voxContent" itemscope="itemscope" itemtype="http://schema.org/NewsArticle">

                @if (@Model.Media != null)
                {
                    switch (@Model.Media.MediaType)
                    {
                        case Core.Entities.MediaType.Image:

                            <figure class="voxAttach">
                                <div class="voxAttachContainer">
                                    <a class="voxImage" target="_BLANK" href="@Model.Media.Url">
                                        @*<img class="lazyload" data-src="@Model.Media.Url" alt="@Model.Title">*@
                                        <img src="@Model.Media.Url" alt="@Model.Title">
                                    </a>
                                </div>
                            </figure>
                            break;

                        case Core.Entities.MediaType.YouTube:

                            <figure class="voxAttach">
                                <div class="voxAttachContainer">
                                    <div class="videoPreview" data-videopreview data-extension="ytb"
                                         data-extensiondata="X7fHr57NEhM" data-hash="YFib7XD4Zv0evWKqvvi0"
                                         style="background: url('@Model.Media.ThumbnailUrl')">
                                        <img class="lazyload" data-parent
                                             data-src="https://www.voxed.net/assets/images/play.png" alt="">
                                    </div>
                                </div>
                                <div class="via">
                                    <a target="_BLANK"
                                       href="@Model.Media.Url">@Model.Media.Url</a>
                                </div>
                            </figure>
                            break;

                        case Core.Entities.MediaType.Video:

                            <video controls="" autoplay="" muted="" class="attach_video" width="100%" height="auto" preload="metadata" loop="">
                                <source src="@Model.Media.Url" type="video/webm">
                                Tu navegador no soporta etiquetas de video.
                            </video>
                            break;

                        default:
                            break;
                    }
                }

            <header class="voxBody">
                <h1 itemprop="name" id="voxTitle">@Model.Title</h1>
                @*<div class="voxDescription" itemprop="articleBody" id="voxContent">@Model.Content</div>*@
            <div class="voxDescription" itemprop="articleBody" id="voxContent">@Html.Raw(Model.Content)</div>
                @*@Html.Raw(comment.Content)*@
            </header>
            </article>
        </section>
        <section class="voxCommentList">

            @await Component.InvokeAsync("CommentForm", new { voxID = Model.ID, userID = Model.UserID })


            @*<form asp-controller="Comment" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input id="VoxID" name="VoxID" type="hidden" class="form-control" value="@Model.ID" />
                    </div>
                    <div class="form-group">
                        <input id="UserID" name="UserID" type="hidden" class="form-control" value="@Model.UserID" />
                    </div>
                    <div class="form-group">
                        <input id="Content" name="Content" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>*@

            @*<form class="commentBox" asp-controller="Comment" asp-action="Create" enctype="multipart/form-data">
                    <div class="pollOption voted hide" id="commentPoll">
                        <div class="pollOptionText"></div>
                        <div class="pollOptionPercent" id="cancelVoteComment">X</div>
                    </div>
                    <textarea name="content" class="commentTextarea" id="commentTextarea" maxlength="3000"
                              placeholder="Escribe un comentario..."></textarea>
                    <div class="form-group">
                        <input id="VoxID" name="VoxID" type="hidden" class="form-control" value="@Model.ID" />
                    </div>
                    <div class="form-group">
                        <input id="UserID" name="UserID" type="hidden" class="form-control" value="@Model.UserID" />
                    </div>
                    <div class="commentBoxButtons">
                        <div class="attachs" id="commentAttachs">
                            <div class="attachButton tooltip-bottom"
                                 data-upload="{ &quot;type&quot;: &quot;local&quot;, &quot;container&quot;: &quot;commentAttachs&quot; }"
                                 data-tooltip="Subir archivo">
                                <i class="fas fa-upload"></i>
                            </div>
                            <input name="file" type="file"
                                   accept="image/gif, image/jpeg, image/jpg, image/png, video/webm, video/mp4"
                                   class="hiddeFileInput" data-preview="previewInputComment">
                            <div class="attachButton tooltip-bottom" data-tooltip="Subir via link"
                                 data-upload="{ &quot;type&quot;: &quot;link&quot;, &quot;container&quot;: &quot;commentAttachs&quot;, &quot;preview&quot; : &quot;previewInputComment&quot; }">
                                <i class="fas fa-link"></i>
                            </div>
                            <div class="preview" id="previewInputComment">
                                <div class="closePreview" data-closepreview="previewInputComment">
                                    <i class="fas fa-times"></i>
                                </div>
                                <img src="/web/20201020185538im_/https://www.voxed.net/vox/YFib7XD4Zv0evWKqvvi0" alt="">
                            </div>
                        </div>
                        <button type="submit" class="buttonPress newComment" id="newComment">
                            <i class="fas fa-circle-notch fa-spin"></i>
                            <span>Comentar</span>
                        </button>
                    </div>
                </form>*@




            @*Original*@

            @*<form class="commentBox" id="createComment" enctype="multipart/form-data">
                    <div class="pollOption voted hide" id="commentPoll">
                        <div class="pollOptionText"></div>
                        <div class="pollOptionPercent" id="cancelVoteComment">X</div>
                    </div>
                    <textarea name="content" class="commentTextarea" id="commentTextarea" maxlength="3000"
                              placeholder="Escribe un comentario..."></textarea>
                    <div class="commentBoxButtons">
                        <div class="attachs" id="commentAttachs">
                            <div class="attachButton tooltip-bottom"
                                 data-upload="{ &quot;type&quot;: &quot;local&quot;, &quot;container&quot;: &quot;commentAttachs&quot; }"
                                 data-tooltip="Subir archivo">
                                <i class="fas fa-upload"></i>
                            </div>
                            <input name="file" type="file"
                                   accept="image/gif, image/jpeg, image/jpg, image/png, video/webm, video/mp4"
                                   class="hiddeFileInput" data-preview="previewInputComment">
                            <div class="attachButton tooltip-bottom" data-tooltip="Subir via link"
                                 data-upload="{ &quot;type&quot;: &quot;link&quot;, &quot;container&quot;: &quot;commentAttachs&quot;, &quot;preview&quot; : &quot;previewInputComment&quot; }">
                                <i class="fas fa-link"></i>
                            </div>
                            <div class="preview" id="previewInputComment">
                                <div class="closePreview" data-closepreview="previewInputComment">
                                    <i class="fas fa-times"></i>
                                </div>
                                <img src="/web/20201020185538im_/https://www.voxed.net/vox/YFib7XD4Zv0evWKqvvi0" alt="">
                            </div>
                        </div>
                        <button type="submit" class="buttonPress newComment" id="newComment">
                            <i class="fas fa-circle-notch fa-spin"></i>
                            <span>Comentar</span>
                        </button>
                    </div>
                </form>*@


            <div class="commentsVoxCount">
                <span class="commentsVoxText" id="commentsVoxText">
                    Comentarios (<span id="voxComments">@Model.Comments.Count()</span>)
                </span>
                <span class="commentsVoxText hide" id="attachsVoxText">
                    Archivos (<span id="voxAttachsToggle">@Model.Comments.Where(x => x.Media != null).Count()</span>)
                </span>
                <span class="attachsVox"><span data-openfiles><i class="fas fa-folder"></i></span></span>
            </div>
            <div class="commentsVoxCount loadmore disabled unselect" id="commentLoadMore" data-comments="0"></div>
            <div class="attachList hide" id="attachList">


                @foreach (var comment in @Model.Comments)
                {
                    @if (@comment.Media != null)
                    {
                        switch (comment.Media.MediaType)
                        {
                            case Core.Entities.MediaType.Image:

                                <div class="attach">
                                    <img class="lazyload"
                                         data-attach="@comment.Hash"
                                         data-src="@comment.Media.ThumbnailUrl"
                                         alt="">
                                    <div class="attachType"><i class="fas fa-image"></i></div>
                                </div>
                                break;

                            case Core.Entities.MediaType.YouTube:

                                <div class="attach">
                                    <img class="lazyload"
                                         data-attach="@comment.Hash"
                                         data-src="@comment.Media.ThumbnailUrl"
                                         alt="">
                                    <div class="attachType"><i class="fab fa-youtube"></i></div>
                                </div>

                                break;

                            case Core.Entities.MediaType.Video:

                                <figure class="commentAttach">
                                    <div class="commentAttachContainer">
                                        <video controls="" autoplay="" muted="" class="attach_video" width="100%" height="auto" preload="metadata" loop="">
                                            <source src="@comment.Media.Url" type="video/webm">
                                            Tu navegador no soporta etiquetas de video.
                                        </video>
                                    </div>
                                </figure>

                                break;

                            default:
                                break;
                        }
                    }
                }

                @*<div class="attach">
                        <img data-attach="NH61TLD"
                             src="https://web.archive.org/web/20201020185538im_/https://upload.voxed.net/thumb_NH61TLD.jpg"
                             alt="">
                        <div class="attachType"><i class="fab fa-youtube"></i></div>
                    </div>
                    <div class="attach">
                        <img data-attach="2DGFJZZ"
                             src="https://web.archive.org/web/20201020185538im_/https://upload.voxed.net/thumb_2DGFJZZ.jpg"
                             alt="">
                        <div class="attachType"><i class="fas fa-image"></i></div>
                    </div>
                    <div class="attach">
                        <img data-attach="GOJV5XI"
                             src="https://web.archive.org/web/20201020185538im_/https://upload.voxed.net/thumb_GOJV5XI.jpg"
                             alt="">
                        <div class="attachType"><i class="fas fa-image"></i></div>
                    </div>*@
            </div>
            <div class="commentList" id="commentList">
                <div class="commentContainer">

                    @foreach (var comment in Model.Comments.OrderByDescending(x => x.CreatedOn))
                    {
                        <div class="comment   " id="@comment.Hash" data-id="11375022">
                            <div class="commentAvatar">
                                @*<div class="unselect avatarColor   @Core.Shared.ColorService.GetColor()">*@
                                    <div class="unselect avatarColor  @comment.Style.ToString().ToLower()">
                                        <span class="avatarText">@comment.User?.UserType.ToString().ToUpper()</span>
                                        @*<span class="avatarText">ANON</span>*@
                                    </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        @if (comment.UserID == Model.UserID && comment.User.UserType == Core.Entities.UserType.Admin)
                                        {
                                            <span class="commentTagBg op">OP</span>
                                        }

                                        @if (comment.User.UserType == Core.Entities.UserType.Admin)
                                        {
                                            <span class="author adminTag" style="">@comment.User?.UserName</span>
                                            <span class="commentTag adminTag">@comment.User?.UserType.ToString().ToLower() </span>
                                        }

                                        @if (comment.User.UserType == Core.Entities.UserType.Anon)
                                        {
                                            <span class="author   " style="">@comment.User?.UserName</span>
                                            <span class="commentTag ">@comment.User?.UserType.ToString().ToLower() </span>
                                        }

                                        @*<span class="author   " style="">@comment.User?.UserName</span>*@
                                        @*<span class="author   " style="">Anonimo</span>*@
                                        @*<span class="commentTag ">@comment.User?.UserType.ToString().ToLower() </span>*@

                                        <span class="commentTag pointer" data-tag="@comment.Hash">@comment.Hash</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">@Core.Shared.TimeAgo.ConvertToTimeAgo(@comment.CreatedOn.DateTime)</div>
                                        <div class="commentAction" data-commentaction="11375022">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply">
                                    @*<a href="#2LFOFDG" data-quote="2LFOFDG">&gt;&gt;2LFOFDG(OP)</a>*@
                                </div>
                                <div class="commentData ">

                                    @*<span class="greentext">&gt;judio</span><br>*@

                                    @if (@comment.Media != null)
                                    {
                                        switch (comment.Media.MediaType)
                                        {
                                            case Core.Entities.MediaType.Image:

                                                <figure class="commentAttach">
                                                    <div class="commentAttachContainer">
                                                        <a class="voxImage" target="_BLANK"
                                                           href="@comment.Media.Url">
                                                            <img class="lazyload" 
                                                                 data-src="@comment.Media.ThumbnailUrl">
                                                        </a>
                                                    </div>
                                                </figure>
                                                break;

                                            case Core.Entities.MediaType.YouTube:

                                                <figure class="commentAttach">
                                                    <div class="commentAttachContainer">
                                                        <div data-videopreview data-extension="ytb" data-extensiondata="@comment.Media?.Url.Split('=')[(comment.Media?.Url.Split('=').Length-1).Value]"
                                                             data-hash="@comment.Hash" class="videoPreview"
                                                             style="background: url('@comment.Media.ThumbnailUrl')">
                                                            <img class="lazyload"
                                                                 data-parent
                                                                 data-src="https://www.voxed.net/assets/images/play.png"
                                                                 alt="">
                                                        </div>
                                                    </div>
                                                    <div class="via">
                                                        <a target="_BLANK"
                                                           href="@comment.Media.Url">@comment.Media.Url</a>
                                                    </div>
                                                </figure>

                                                break;

                                            case Core.Entities.MediaType.Video:

                                                @*<figure class="commentAttach">
                        <div class="commentAttachContainer">
                            <div data-videopreview="" data-extension="webm" data-extensiondata="" data-hash="JOEDVO8" class="videoPreview" style="background: url('https://web.archive.org/web/20200816221810im_/https://upload.voxed.net/thumb_JOEDVO8.jpg')">
                                <img data-parent="" src="/web/20200816221810im_/https://www.voxed.net/assets/images/play.png" alt="">
                            </div>
                        </div>
                    </figure>*@

                                                <video controls="" autoplay="" muted="" class="attach_video" width="100%" height="auto" preload="metadata" loop="">
                                                    <source src="@comment.Media.Url" type="video/webm">Tu navegador no soporta etiquetas de video.
                                                </video>


                                                break;

                                            default:
                                                break;
                                        }
                                    }

                                <div class="commentContent">
                                    @Html.Raw(comment.Content)
                                </div>
                                </div>
                            </div>
                        </div>
                    }
                    @*<div class="comment   " id="NS6WSGX" data-id="11375405">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   red">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="NS6WSGX">NS6WSGX</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">8m</div>
                                        <div class="commentAction" data-commentaction="11375405">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">domada la pedorona</div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="GBBXNTL" data-id="11375395">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   multi">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="GBBXNTL">GBBXNTL</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">8m</div>
                                        <div class="commentAction" data-commentaction="11375395">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        Puedo ponerme en el lugar de que lo mas justo
                                        ser&iacute;a que se muera la Faraona y Rial juntos?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="7XKW3LU" data-id="11375393">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   green">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="7XKW3LU">7XKW3LU</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">9m</div>
                                        <div class="commentAction" data-commentaction="11375393">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        Tiene razon chicos, vamos a merendar y jugar a la play
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="GBCKYX0" data-id="11375386">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   yellow">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="GBCKYX0">GBCKYX0</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">9m</div>
                                        <div class="commentAction" data-commentaction="11375386">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        rial le hizo mas da&ntilde;o al pais, el otro no tiene
                                        tanto publico, lo ven siempre los mismos 100mil boludos
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="LU5J82M" data-id="11375361">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   green">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="LU5J82M">LU5J82M</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">9m</div>
                                        <div class="commentAction" data-commentaction="11375361">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#HB2GCM5"
                                           data-quote="HB2GCM5">&gt;&gt;HB2GCM5</a><br />
                                        ya te digo que no es comparable, pero si viste el video completo (que lo dudo)
                                        notaras que el tipo cometi&oacute; delitos bastante jodidos, y es el hijo de
                                        puta mas grande en la tv argentina
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="19VLIL3" data-id="11375337">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   blue">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="19VLIL3">19VLIL3</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">10m</div>
                                        <div class="commentAction" data-commentaction="11375337">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        Rial con la Faraona tendrian que disputar un duelo a
                                        muerte y al ganador lo sacrificamos a modo de festejo.<br />
                                        <br />
                                        Gana la humanidad.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="ENVMRQ3" data-id="11375321">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   green">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="ENVMRQ3">ENVMRQ3</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">10m</div>
                                        <div class="commentAction" data-commentaction="11375321">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">La Cepillona</div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="FPDO5G8" data-id="11375267">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   green">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="FPDO5G8">FPDO5G8</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">12m</div>
                                        <div class="commentAction" data-commentaction="11375267">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        No defiendo a la faraona, pero Rial no puede hablar ni
                                        espantarse de absolutamente nadie
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="K3UFQPI" data-id="11375263">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   blue">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="K3UFQPI">K3UFQPI</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">12m</div>
                                        <div class="commentAction" data-commentaction="11375263">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#QDBLTL9"
                                           data-quote="QDBLTL9">&gt;&gt;QDBLTL9</a><br />
                                        Muy bien anon, vos sabes
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="HB2GCM5" data-id="11375244">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   blue">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="HB2GCM5">HB2GCM5</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">12m</div>
                                        <div class="commentAction" data-commentaction="11375244">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#NH61TLD"
                                           data-quote="NH61TLD">&gt;&gt;NH61TLD</a><br />
                                        Osea que pelearse en Tv es peor que ser cepitore, me va a tener que
                                        acompa&ntilde;ar
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="QDBLTL9" data-id="11375240">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   green">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="QDBLTL9">QDBLTL9</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">12m</div>
                                        <div class="commentAction" data-commentaction="11375240">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#NRALELF"
                                           data-quote="NRALELF">&gt;&gt;NRALELF</a><br />
                                        La cepitarona
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="NRALELF" data-id="11375223">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   blue">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="NRALELF">NRALELF</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">13m</div>
                                        <div class="commentAction" data-commentaction="11375223">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <span class="greentext">&gt;Cuckarona</span><br />
                                        eh? teniendo tantos apodos sobre cp y el down le pone cuck<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="NH61TLD" data-id="11375177">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   blue">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="NH61TLD">NH61TLD</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">14m</div>
                                        <div class="commentAction" data-commentaction="11375177">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    <figure class="commentAttach">
                                        <div class="commentAttachContainer">
                                            <div data-videopreview data-extension="ytb" data-extensiondata="WzKCcJtmI6M"
                                                 data-hash="NH61TLD" class="videoPreview"
                                                 style="background: url('https://web.archive.org/web/20201020185538im_/https://upload.voxed.net/thumb_NH61TLD.jpg')">
                                                <img data-parent
                                                     src="/web/20201020185538im_/https://www.voxed.net/assets/images/play.png"
                                                     alt="">
                                            </div>
                                        </div>
                                        <div class="via">
                                            <a target="_BLANK"
                                               href="https://web.archive.org/web/20201020185538/https://www.youtube.com/watch?v=WzKCcJtmI6M">https://www.youtube.com/watch?v=WzKCcJtmI6M</a>
                                        </div>
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#GOJV5XI"
                                           data-quote="GOJV5XI">&gt;&gt;GOJV5XI</a><br />
                                        mira que la faraona es una mierda de persona, pero rial esta a a&ntilde;os luz
                                        de quedarse atras
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="2LFOFDG" data-id="11375164">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   yellow">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="commentTagBg op">OP</span>
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="2LFOFDG">2LFOFDG</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">14m</div>
                                        <div class="commentAction" data-commentaction="11375164">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#UGT9QYF"
                                           data-quote="UGT9QYF">&gt;&gt;UGT9QYF</a><br />
                                        <a href="#I4PYAZE" data-quote="I4PYAZE">&gt;&gt;I4PYAZE</a><br />
                                        <a href="#SIBLOTE" data-quote="SIBLOTE">&gt;&gt;SIBLOTE</a><br />
                                        <a href="#2DGFJZZ" data-quote="2DGFJZZ">&gt;&gt;2DGFJZZ</a><br />
                                        domadooos
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="2DGFJZZ" data-id="11375124">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   yellow">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="2DGFJZZ">2DGFJZZ</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">15m</div>
                                        <div class="commentAction" data-commentaction="11375124">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    <figure class="commentAttach">
                                        <div class="commentAttachContainer">
                                            <a class="voxImage" target="_BLANK"
                                               href="https://web.archive.org/web/20201020185538/https://upload.voxed.net/2DGFJZZ.jpg">
                                                <img src="https://web.archive.org/web/20201020185538im_/https://upload.voxed.net/thumb_2DGFJZZ_r.jpg">
                                            </a>
                                        </div>
                                    </figure>
                                    <div class="commentContent">DOMEEEEEE </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="UGT9QYF" data-id="11375080">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   green">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="UGT9QYF">UGT9QYF</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">16m</div>
                                        <div class="commentAction" data-commentaction="11375080">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        vamos a ver:<br />
                                        <span class="greentext">&gt;judio</span><br />
                                        <span class="greentext">&gt;k</span><br />
                                        <span class="greentext">&gt;puto</span><br />
                                        <span class="greentext">&gt;mogotuber</span><br />
                                        <span class="greentext">&gt;cepitero</span><br />
                                        <span class="greentext">&gt;portetarado</span><br />
                                        <br />
                                        por que tardaron tanto en crucificarlo?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="I4PYAZE" data-id="11375077">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   green">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="I4PYAZE">I4PYAZE</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">16m</div>
                                        <div class="commentAction" data-commentaction="11375077">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        Soy voxero pero saber que hay gente que a&uacute;n mira
                                        a Rial me hace sentir un poquito mejor que mi presente
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="SIBLOTE" data-id="11375061">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   yellow">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="SIBLOTE">SIBLOTE</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">16m</div>
                                        <div class="commentAction" data-commentaction="11375061">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#GOJV5XI"
                                           data-quote="GOJV5XI">&gt;&gt;GOJV5XI</a><br />
                                        igual de mogolico como los que defienden ala faraona
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="HAYDOHQ" data-id="11375045">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   red">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="HAYDOHQ">HAYDOHQ</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">17m</div>
                                        <div class="commentAction" data-commentaction="11375045">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        Cosas que tienen el comun Rial y la Faraona, ninguno de
                                        los dos se puede reproducir.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="HPZCTNL" data-id="11375039">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   red">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="HPZCTNL">HPZCTNL</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">17m</div>
                                        <div class="commentAction" data-commentaction="11375039">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#HTYOADF"
                                           data-quote="HTYOADF">&gt;&gt;HTYOADF</a><br />
                                        this
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="HTYOADF" data-id="11375026">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   green">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="HTYOADF">HTYOADF</span>

                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">17m</div>
                                        <div class="commentAction" data-commentaction="11375026">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        Que hermoso, Rial vs la Faraona es como una pelea entre
                                        el C&aacute;ncer versus el SIDA, queres que a ambos les vaya mal
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="GOJV5XI" data-id="11375022">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   multi">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="commentTagBg op">OP</span>
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="GOJV5XI">GOJV5XI</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">17m</div>
                                        <div class="commentAction" data-commentaction="11375022">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    <figure class="commentAttach">
                                        <div class="commentAttachContainer">
                                            <a class="voxImage" target="_BLANK"
                                               href="https://web.archive.org/web/20201020185538/https://upload.voxed.net/GOJV5XI.png">
                                                <img src="https://web.archive.org/web/20201020185538im_/https://upload.voxed.net/thumb_GOJV5XI_r.jpg">
                                            </a>
                                        </div>
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#YWW3NCV"
                                           data-quote="YWW3NCV">&gt;&gt;YWW3NCV</a><br />
                                        <a href="#FRIHXPG" data-quote="FRIHXPG">&gt;&gt;FRIHXPG</a><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="NF6WVDO" data-id="11375010">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   blue">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="NF6WVDO">NF6WVDO</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">17m</div>
                                        <div class="commentAction" data-commentaction="11375010">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#YWW3NCV"
                                           data-quote="YWW3NCV">&gt;&gt;YWW3NCV</a><br />
                                        ok<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="FRIHXPG" data-id="11375005">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   red">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="FRIHXPG">FRIHXPG</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">17m</div>
                                        <div class="commentAction" data-commentaction="11375005">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        como va a ser chad rial ?oputo deja de hacerte cojer por
                                        ese puto drogon y enfermo. Y tambien que se muera la putaona
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="6MXISHS" data-id="11374975">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   blue">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="commentTagBg op">OP</span>
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="6MXISHS">6MXISHS</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">18m</div>
                                        <div class="commentAction" data-commentaction="11374975">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        <a href="#YWW3NCV"
                                           data-quote="YWW3NCV">&gt;&gt;YWW3NCV</a><br />
                                        kjjj
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment   " id="YWW3NCV" data-id="11374954">
                            <div class="commentAvatar">
                                <div class="unselect avatarColor   multi">
                                    <span class="avatarText">ANON</span>
                                </div>
                            </div>
                            <div class="commentBody">
                                <div class="commentMetadata">
                                    <div class="commentsTag unselect">
                                        <span class="author   " style="">Anonimo</span>
                                        <span class="commentTag ">anon </span>
                                        <span class="commentTag pointer" data-tag="YWW3NCV">YWW3NCV</span>
                                    </div>
                                    <div class="commentMetaRight">
                                        <div class="commentCreatedAt">18m</div>
                                        <div class="commentAction" data-commentaction="11374954">
                                            <i data-parent
                                               class="fas fa-ellipsis-v"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentReply"></div>
                                <div class="commentData ">
                                    </figure>
                                    <div class="commentContent">
                                        Che loco cada vez mas pelotudos los voxs. Y escribio
                                        bien pelotudo
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="floatQuote" id="floatQuote"></div>

                <div class="floatCommentAction" id="floatCommentAction">
                    <div class="commentActionButton" id="commentHideAction" data-meta="hide" data-contentid=""
                         data-contenttype="0">
                        <div class="commentActionIcon" data-parent><i class="fas fa-eye"></i></div>
                        <div class="commentActionTitle" data-parent>Ocultar</div>
                    </div>
                    <div class="commentActionButton" id="commentReportAction" data-report="comment"
                         data-contentid="" data-contenttype="0">
                        <div class="commentActionIcon" data-parent><i class="fas fa-flag"></i></div>
                        <div class="commentActionTitle" data-parent>Denunciar</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<script>
    var VOX_ID = "@Model.ID";
    var VOX_HASH = "@Model.Hash";
    var IS_OP = "0";
    var ACTUAL_PAGE = "vox";
    var TITLE = "Voxed  | @Model.Title";
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}